name: Secrets workflow

on:
  pull_request:
    branches: ["main"]

env:
  API_CSPROJ_PATH: "./scr/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secrets demo
    runs-on: ubuntu-latest
    # Job specific variable
    env:
      JOB_NAME: "secrets"

    steps:
      - name: echo environment variable
        # --no-build will use dll from prev. build
        run: echo "The value of $JOB_NAME is $API_CSPROJ_PATH"
  new_job:
    name: New job
    runs-on: ubuntu-latest
    # Job specific variable
    env:
      JOB_NAME: "new_job"

    steps:
      - name: echo environment variable
        # --no-build will use dll from prev. build
        run: echo "The value of $JOB_NAME is $API_CSPROJ_PATH"
