name: Secrets workflow

on:
  pull_request:
    branches: ["main"]

env:
  API_CSPROJ_PATH: "./scr/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secrets demo
    runs-on: ubuntu-latest

    steps:
      - name: echo environment variable
        # --no-build will use dll from prev. build
        run: echo "$API_CSPROJ_PATH"
