name: Secrets workflow
# Default variables: https://docs.github.com/en/actions/reference/workflows-and-actions/variables#default-environment-variables

on:
  pull_request:
    branches: ["main"]

env:
  API_CSPROJ_PATH: "./scr/GitHubActionsDotNet.Api/GitHubActionsDotNet.Api.csproj"

jobs:
  secrets:
    name: Secrets demo
    runs-on: ubuntu-latest
    # Job specific variable
    env:
      JOB_NAME: "secrets"

    steps:
      - name: echo environment variable
        # secret is added under repo settings "secrets and variables"
        run: echo "The value of $JOB_NAME is $API_CSPROJ_PATH with secret ${{ secrets.SECRET_API_KEY }}"
